body{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;

}
header{
    height: 5vh;
    width: 100%;
}

header h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    padding-left: 50px;
}

.heder-info{
    background-color: #4567d8;
    height: 5vh;
    align-items: center;
}

table{
    border: 1px solid black;
    align-items: center;
}